.home__container{
    gap: 1rem;
}

.home__content{
    padding-top: 3.5rem;
    align-items: center;
    
}

.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon{
    font-size: 1.25rem;
    color: var(--first-color);
}

.home__social-icon:hover{
    color: var(--first-color-alt);
}

.home__img {
    position: relative;
    width: fit-content;
    display: inline-block; 
    margin-bottom: 1.5em;
}

.loading-circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
}

.loading-circle::before,
.loading-circle::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid transparent;
    left: 0; 
    top: 0; 
}

.loading-circle::before {
    border-top-color: var(--first-color); 
    animation: spin 2s linear infinite; 
}

.loading-circle::after {
    border-top-color: #36abf9; 
    animation: spin-reverse 3s linear infinite; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin-reverse {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}

.home__data{
    grid-column: 1/3;
    text-align: center;
}

.home__title{
    font-size: var(--big-font-size);
}

.home__subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__description{
    margin-bottom: var(--mb-2);
}

.home__scroll{
    display: none;
}

.home__scroll-button{
    color: var(--first-color);
    transition: .3s;
}

.home__scroll-button:hover{
    transform: translateY(0.25rem);
}

.home__scroll-mouse{
    font-size: 1.5rem;
}

.home__scrol-name{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow{
    font-size: 1.25rem;   
}